<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {%if records%}
    <table>

      <thead>
        <th>Designation</th>
        <th>Number of openings</th>
        <th>location</th>
        <th>Qualification</th>
        <th>Required Experience</th>
        <th>Bond</th>
        <th>Contact</th>
        <th>Mail us On</th>
      </thead>

      {%for record in records%}
          <tr>
            <td>{{record.desgn}}</td>
            <td>{{record.openings}}</td>
            <td>{{record.location}}</td>
            <td>{{record.qual}}</td>
            <td>{{record.exp}}</td>
            <td>{{record.contract}}</td>
            <td>{{record.contact}}</td>
            <td>{{record.email}}</td>
          </tr>
      {%endfor%}
    </table>
    {%endif%}
  </body>
</html>
